/bcpsbackend/.phpunit.cache
/bcpsbackend/node_modules
/bcpsbackend/public/build
/bcpsbackend/public/hot
/bcpsbackend/public/storage
/bcpsbackend/storage/*.key
/bcpsbackend/vendor
/bcpsbackend/.env
/bcpsbackend/.env.backup
/bcpsbackend/.env.production
/bcpsbackend/.phpunit.result.cache
/bcpsbackend/Homestead.json
/bcpsbackend/Homestead.yaml
/bcpsbackend/auth.json
/bcpsbackend/npm-debug.log
/bcpsbackend/yarn-error.log
/bcpsbackend/.fleet
/bcpsbackend/.idea
/bcpsbackend/.vscode

/bcpsfrontend/node_modules
/bcpsfrontend/.pnp
/bcpsfrontend/.pnp.js
/bcpsfrontend/coverage
/bcpsfrontend/build
/bcpsfrontend/.DS_Store
/bcpsfrontend/.env.local
/bcpsfrontend/.env.development.local
/bcpsfrontend/.env.test.local
/bcpsfrontend/.env.production.local
/bcpsfrontend/npm-debug.log*
/bcpsfrontend/yarn-debug.log*
/bcpsfrontend/yarn-error.log*
